body {
    background-image: url(./lightning.png);
}

#gameCanvas {
    width: 700px;
    height: 600px;
    border: 1px solid black;
    background-color: blue;
}

img {
    display: none;
}

#canvas_div {
    margin: auto;
    height: 600px;
    width: 700px;
}